<h1>Topic</h1>

<form (ngSubmit)="save()" [formGroup]="form" class="container">
  <mat-form-field appearance="standard">
    <input [formControl]="form.get('title')" matInput placeholder="Title" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <textarea
      placeholder="Describe your topic... "
      [formControl]="form.get('description')"
      [cdkAutosizeMinRows]="2"
      [cdkTextareaAutosize]="true"
      matInput></textarea>
  </mat-form-field>

  <div class="app-button-container">
    <button color="primary" mat-raised-button>Save</button>
    <button (click)="delete()" color="primary" mat-raised-button type='button'>Delete</button>
  </div>
</form>
