<h1>Topics</h1>

<div class="mat-elevation-z8">
  <table aria-label="Elements" class="full-width-table" mat-table matSort>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
      <td *matCellDef="let row" mat-cell><a mat-button routerLink="/topic/{{row._id}}">{{row.title}}</a></td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
      <td *matCellDef="let row" mat-cell>{{row.description}}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Created</th>
      <td *matCellDef="let row" mat-cell>{{row.createdAt | date}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.dataSubject.getValue().length"
                 [pageIndex]="0"
                 [pageSizeOptions]="[25, 50, 100, 250]"
                 [pageSize]="50">
  </mat-paginator>
</div>
