<h1>{{topic?.title}} -
  <small>{{topic?.description}}</small>
</h1>

<div style="max-width: 750px">
  <mat-card style="margin: 5px">
    <mat-form-field appearance="outline">
    <textarea
      [(ngModel)]="newComment.text"
      [cdkAutosizeMinRows]="2"
      [cdkTextareaAutosize]="true"
      matInput
      placeholder="Join the discussion..."></textarea>
      <button (click)="post()" color="primary" mat-flat-button style="width: 122px; margin-top: 16px">Post</button>
    </mat-form-field>
  </mat-card>

  <app-comments [comments]="topicComments" [depth]="0"></app-comments>
</div>
